<section id=introduction>
    <aside>
        <img src="./static/images/hamster.png" alt="hamster eating a sunflower seed" srcset="">
    </aside>
    <div>
        <h1>Hello, I'm Hammy the Hamster!</h1>
        <p>Are you thinking about getting a hamster like me?</p>
        <p>There's a lot more to looking after a hamster than you may think. This website will teach you everything you need to know, so that your hamster can live a long happy life like me.</p>
        <p>Click 'get started' to go though the 10 sections and then complete the quiz to earn your Certificate of Hamster Care, which shows you're ready to own a pet hamster!</p>
        <p><a class="link-button" href="/timeline">Get Started</a>
    </div>
</section>